@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY SECTION MANAGER USING MIXIN'S
/*
for this section we'll be making use of the @content, @if and @include


0 -600px:   phone
600-900px:  tablet portrait
900px-1200px:   tablet ladnscape
1200 - 1800px: is where out normal styles apply

1200px and up : big desktop


breakpoint arguement choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px (browser default font size)
moving forward for media query we'll be using em's
hence divide all breakpoints by 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5rem) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    //900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
